.btn{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    pointer-events: all;
    cursor: pointer;
}